.bracket-container{
  display: flex;
}

.bracket-container::after{
  display:none;
}

.round-container{
  display: flex;
  flex-direction: row;
}

.round{
  flex-grow: 1; 
}

.set-container{
  display: flex;
  flex-direction: column;
}

